<form class="" method="post"
      hx-target="this"
      hx-swap="outerHTML"
      hx-post="{% url 'tasks:create_task' %}"

>
    {% csrf_token %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endfor %}
    <fieldset>
      <div class="row form-group{% if form.title.errors %} has-error {% endif %}">
        <div class="input-group">
            <label for="id_title" class="input-group-text">New Task</label><input type="text" class="form-control" name="title" id="id_title" placeholder="Write a task and press <ENTER>">
            {% for error in form.title.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
      </div>
    </fieldset>
    <header><h1>Task List</h1></header>
    <section id="task_list"
      hx-trigger="after-post"
      hx-target="this"
      hx-swap="innerHTML"
      hx-get="{% url 'tasks:display_tasks' %}"
    >
        {% include "tasks/task_list.html" %}
    </section>
</form>