<form method="post"
      hx-target="this"
      hx-swap="outerHTML"
      hx-post="{% url 'tasks:new_task_schedule' object.pk %}"
>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Schedule</th>
            </tr>
        </thead>
    </table>
    {% csrf_token %}
    <fieldset>
        <div class="row form-group">
            <div class="input-group col">
                <label for="id_dt" class="input-group-text">Date: </label><input type="date" class="form-control" name="dt" id="id_dt" placeholder="Date"><input type="time" class="form-control" name="hr" id="id_hr" placeholder="Time">
            </div>
            <div class="col">
              <button class="btn btn-success" type="submit" title="Add new Schedule"><i class="bi bi-file-earmark-plus"></i> Add</button>
            </div>
        </div>
        <div class="row form-group">
            <div class="input-group">
                <label for="id_description" class="input-group-text">Description: </label><textarea name="description" id="id_description" class="form-control" cols="60" rows="3"></textarea>
            </div>
        </div>
    </fieldset>
</form>
<aside hx-get="{% url 'tasks:display_task_schedule' object.pk %}"
       hx-swap="innerHTML"
       hx-target="this"
       hx-trigger="load"
       id="schedule_list"
>

</aside>