<div id="histories" class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col" class="th-sm">Date</th>
            <th scope="col" class="th-lg">Fate</th>
            <th scope="col" class="th-sm"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form action="{% url 'tasks:new_task_history' object.pk %}" method="post">
                {% csrf_token %}
                <td class="input-group"><input type="date" name="dt" id="id_dt" class="form-control" style="width:55%;"><input type="time" name="time" id="id_time" class="form-control"></td>
                <td><textarea name="description" id="id_description" class="form-control" cols="60" rows="3"></textarea></td>
                <td>
                    <button type="submit" class="btn btn-success"><i class="bi bi-file-earmark-plus"></i></button>
                </td>
            </form>
        </tr>
        {% for item in histories %}
            <tr {% cycle "" "class='table-secondary'" %}>
                <td>
                    {{item.dt|date:'d/m/Y H:i'}}
                </td>
                <td>
                    {{item.description}}
                </td>
                <td>
                    <div class="btn-group end" role="group">
                        <a type="button" class="btn btn-secondary" href="?next={{ request.path|urlencode }}"><i class="bi bi-pencil-square"></i></a>
                        <button type="button" class="btn btn-danger"
                               hx-delete="{% url 'tasks:delete_task_control' item.task.pk item.pk %}"
                               hx-confirm="Are you sure you wish to delete this history?"
                               hx-target="#histories"
                        ><i class="bi bi-trash3"></i></button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>