{% extends 'core.htmx' %}
{% load static %}

{% block title %}{{ block.super }} - Task: {{object.title}}{% endblock %}

{% block header %} {{ block.super }} - Task{% endblock %}

{% block content %}
    <header><h1>{{object.pk}}. {{object.title}}</h1></header>
    <article class="container">
        <div class="row">
            <div class="col-2"><b>Scheduled for:</b></div>
            <div class="col-4">{{object.dt_scheduled|date:'d/m/Y'}}</div>
            <div class="col-2"><b>Completed on:</b></div>
            <div class="col-4">{{object.dt_completed|date:'d/m/Y'|default:'No'}}</div>
        </div>
        <div class="row">
            <div class="col-12"><b>Description:</b></div>
        </div>
        <div class="row">
            <div class="col-12">{{object.description|default:''}}</div>
        </div>
    </article>
    <aside>
        <!-- COMANDS -->
        <div class="btn-group end" role="group">
            {% if object.dt_completed is None %}
                <a type="button" class="btn btn-success" href="{% url 'tasks:conclude_task' object.pk %}?next={{ request.path|urlencode }}"><i class="bi bi-journal-check"></i></a>
            {% endif %}
            <a type="button" class="btn btn-secondary" href="{% url 'tasks:update_task' object.pk %}?next={{ request.path|urlencode }}"><i class="bi bi-pencil-square"></i></a>
            <a type="button" class="btn btn-danger" href="{% url 'tasks:delete_task' object.pk %}"><i class="bi bi-trash3"></i></a>
        </div>
    </aside>
    <section
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML"
        hx-get="{% url 'tasks:display_task_history' object.id %}"
    >
        {% include 'tasks/history_list.html' %}
    </section>
{%endblock%}