
<div id="tasks" class="table-responsive">
    {% for key, items in tasks.items %}
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Finished</th>
                <th colspan="2">Title</th>
            </tr>
            </thead>
            {% for item in items %}
            <tbody>
            <tr {% cycle "" "class='table-secondary'"%} >
                <!-- TITLE -->
                <td><a href="{% url 'tasks:task' item.pk %}" >{{item.pk}}. {{item.title}}</a></td>
                <!-- COMANDS -->
                <td><div class="btn-group end" role="group">

                    {% if item.dt_completed is None %}
                        <a type="button" class="btn btn-success"
                           hx-get="{% url 'tasks:conclude_task' item.pk %}?next={{ request.path|urlencode }}"
                           hx-target="#tasks"
                           hx-swap="outerHTML"
                           title="Conclude Task"><i class="bi bi-journal-check"></i></a>
                    {%else%}
                        <a type="button"
                           class="btn btn-warning"
                           hx-get="{% url 'tasks:concludeornottask' item.pk %}?next={{ request.path|urlencode }}"
                           hx-target="#tasks"
                           hx-swap="outerHTML"
                           title="Return Task to no concluded"><i class="bi bi-journal-arrow-up"></i></a>
                    {% endif %}
                            <a type="button" class="btn btn-secondary" href="{% url 'tasks:update_task' item.pk %}?next={{ request.path|urlencode }}" title="Edit Task"><i class="bi bi-pencil-square"></i></a>
                    <button type="button" class="btn btn-danger"
                           hx-delete="{% url 'tasks:delete_task' item.pk %}"
                           hx-confirm="Are you sure you wish to delete this task?"
                           hx-target="#tasks"
                    ><i class="bi bi-trash3" title="Delete Task"></i></button>
                </div></td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    {% endfor %}
</div>
